{{#if flash.enabled}}
    {{> components/flash_tools}}
{{/if}}


<div class="frame-1">
  <div class="frame-1-1">
    <a href="/" id="logo-wrapper" class="nav-tools__logo-wrapper">
      {{#if logo}}
        <img  class="img-header" id="image-logo" src="{{logo}}" alt="{{name}}" />
      {{else}}
      <span class="header--custom-text">
          {{name}}
      </span>
      {{/if}}
    </a>
  </div>

  <div class="frame-1-2">
    <form class="frame-1-2-1" id="search-form" novalidate="">
      <input type="search" placeholder="O que você está precisando?"  id="search-input" required="" autocomplete="off"/>
      <button  type="submit" id="nav-search-button">
        <span class=" icon-search">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
            <path d="M21.7163 20.4679L20.8853 19.8883L20.508 19.5244C21.8288 17.988 22.6239 15.9933 22.6239 13.8234C22.6239 8.98492 18.702 5.06293 13.8635 5.06293C9.02502 5.06293 5.10303 8.98492 5.10303 13.8234C5.10303 18.6618 9.02502 22.5838 13.8635 22.5838C16.0334 22.5838 18.0281 21.7887 19.5645 20.4679L19.9284 20.8452L20.508 21.676L20.8853 22.176L22.2163 20.8452L21.7163 20.4679ZM13.8635 19.8883C10.5076 19.8883 7.79855 17.1793 7.79855 13.8234C7.79855 10.4675 10.5076 7.75845 13.8635 7.75845C17.2194 7.75845 19.9284 10.4675 19.9284 13.8234C19.9284 17.1793 17.2194 19.8883 13.8635 19.8883Z" fill="black"/>
            <path d="M27.4176 29.5559C28.016 28.9903 28.6291 28.4437 29.2063 27.8558C29.8225 27.2308 30.1288 26.451 29.3223 25.1111C27.8315 24.762 27.3252 25.8298 26.6229 26.4324C25.9255 27.0303 25.2508 27.7012 24.6432 28.4169C24.197 28.9377 23.5581 29.0325 22.6908 28.6833C22.0874 27.849 22.2183 27.2821 22.4346 26.7336C23.0173 25.273 24.2187 24.3495 24.9054 22.9792C25.1583 22.4761 25.3798 21.9462 25.5759 21.4026C25.7104 21.0256 25.6666 20.6004 25.1686 20.152C24.6958 19.7269 24.4049 19.9971 24.2284 20.1403C22.2819 21.7257 20.3056 23.2828 18.7457 25.2805" stroke="black" stroke-width="1.5325" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </span>
      </button>
    </form>
  </div>


  <div class="frame-1-3">
    <a href="#" id="imagem-container1">
      <img id="frame-1-3-1" src="https://i.postimg.cc/3NrYG0gV/Component-1.png"/>
      <img id="frame-1-3-1-hover" src="https://i.postimg.cc/TYpcxRSJ/Component-4.png"/>
    </a>
    <a href="https://www.nanopro.com.br/gz/cart" target="_blank" id="imagem-container2">
      <img id="frame-1-3-2" src="https://i.postimg.cc/tTq43cbB/Component-2.png"/>
      <img id="frame-1-3-2-hover" src="https://i.postimg.cc/dtbGKGGJ/Component-2-1.png"/>
    </a>
    <a href="#" id="imagem-container3">
      <img id="frame-1-3-3" src="https://i.postimg.cc/wxP9MM1f/Component-3.png"/>
      <img id="frame-1-3-3-hover" src="https://i.postimg.cc/Kz8M5fhD/Component-3-1.png"/>
    </a>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" width="125" height="100" viewBox="0 0 145 129" fill="none">
    <g clip-path="url(#clip0_200_968)">
      <path d="M94.9616 67.0966C91.5768 76.1513 85.9045 84.3885 84.845 94.272C84.4201 98.2292 82.263 101.843 82.779 105.979C82.9482 107.333 83.4541 108.623 84.5155 108.879C85.2043 109.044 86.5234 109.192 87.456 107.891C98.0377 93.1791 114.107 84.9011 127.881 73.9458C138.75 65.3027 146.002 54.6956 148.283 41.0724C150.162 29.8536 148.681 18.8307 143.738 8.48581C138.17 -3.16436 130.158 -12.744 118.657 -18.9854C101.308 -28.402 83.6799 -29.9595 65.4356 -21.1621C51.6467 -14.511 41.7908 -3.97442 35.0328 9.26398C29.3884 20.3213 30.3979 32.0961 34.9072 43.481C38.022 51.3703 41.5789 59.0839 44.7521 66.9495C48.9249 77.2999 50.2752 87.8324 46.0814 98.5641" stroke="white" stroke-opacity="0.3" stroke-width="1.43381" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M52.1842 134.705C55.6376 135.738 59.0619 136.834 62.5407 137.782C66.2454 138.798 69.7189 138.77 72.3774 134.988C69.8901 130.416 64.9177 130.212 61.0775 128.93C57.2654 127.656 53.2559 126.529 49.2569 125.641C46.3371 124.983 44.4206 123.302 43.482 120.476C44.8861 117.838 47.1834 117.56 49.6286 117.542C56.1571 117.514 62.3537 119.829 68.8259 120.195C71.2044 120.332 73.5979 120.35 75.9763 120.281C77.6218 120.229 78.9922 119.623 79.3158 117.719C79.6205 115.912 77.9578 115.404 77.0215 115.073C66.6721 111.423 56.3472 107.658 45.5236 105.56" stroke="white" stroke-opacity="0.3" stroke-width="1.43381" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M83.3325 57.9848C77.0268 60.9015 70.5482 60.8316 64.2686 58.348C57.6428 55.7198 55.6853 49.7878 58.8451 45.53C61.357 42.1355 65.7173 41.3358 68.3967 44.3743C70.9762 47.3008 72.1024 50.7676 71.498 54.9481C69.0735 71.7608 61.6266 86.4454 52.6665 100.534" stroke="white" stroke-opacity="0.3" stroke-width="1.43381" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M98.0132 65.454C104.557 65.3073 109.461 61.3865 114.461 57.9666C115.557 57.2167 116.829 54.816 115.611 52.8202C114.537 51.0625 112.795 51.7113 111.267 52.0238C104.48 53.36 100.724 58.4452 97.7037 63.8837C96.9443 65.2574 96.228 66.3157 95.0888 66.5599C90.6862 67.5008 84.3101 62.3921 83.981 57.6655C83.4879 50.7451 86.6262 45.1878 91.2373 40.4303C92.4964 39.1341 94.69 38.4151 96.4088 39.9348C98.7282 41.9831 97.6007 44.7245 96.3843 46.4952C93.377 50.8602 89.6186 54.6516 85.0318 57.4769" stroke="white" stroke-opacity="0.3" stroke-width="1.43381" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    <defs>
      <clipPath id="clip0_200_968">
        <rect width="120.562" height="169.853" fill="white" transform="translate(48.8789 -42.5229) rotate(16.651)"/>
      </clipPath>
    </defs>
  </svg>
</div>

<nav class="frame-2">
  <a class="nav-link active" aria-current="page" href="https://www.nanopro.com.br/_Discount_5-100" target="_blank">Destaque</a>
  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-redondo" target="_blank">Luminária de teto</a>
  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-organico" target="_blank">Luminária de mesa</a>
  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-oval" target="_blank">Arandelas</a>
  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-com-led" target="_blank">Espelhos</a>
  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-base-reta" target="_blank">Decoração</a>
</nav>



{{!-- Mobile --}}


<header class="frame-1-mobile">

  <div class="frame-1-1-mobile">
    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="42" viewBox="0 0 54 42" fill="none">
        <path d="M0 3C0 1.34315 1.34315 0 3 0H51C52.6569 0 54 1.34315 54 3C54 4.65685 52.6569 6 51 6H3C1.34315 6 0 4.65685 0 3Z" fill="white"/>
        <path d="M0 21C0 19.3431 1.34315 18 3 18H51C52.6569 18 54 19.3431 54 21C54 22.6569 52.6569 24 51 24H3C1.34315 24 0 22.6569 0 21Z" fill="white"/>
        <path d="M0 39C0 37.3431 1.34315 36 3 36H51C52.6569 36 54 37.3431 54 39C54 40.6569 52.6569 42 51 42H3C1.34315 42 0 40.6569 0 39Z" fill="white"/>
      </svg>
    </button>
  </div>



  <div class="frame-1-2-mobile">
    <a href="/" id="logo-wrapper" class="nav-tools__logo-wrapper">
      {{#if logo}}
        <img  class="img-header" id="image-logo" src="https://i.postimg.cc/ZYxqVy8J/Group-2.png" alt="{{name}}" />
      {{else}}
      <span class="header--custom-text">
          {{name}}
      </span>
      {{/if}}
    </a>
  </div>

  <div class="frame-1-3-mobile">
    <a href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 29 29" fill="none">
        <path d="M22.2188 17.9627C20.2855 17.787 19.231 20.4233 17.825 21.1263C15.5402 22.3565 11.3221 17.9627 11.3221 17.9627C11.3221 17.9627 6.92828 13.7446 7.9828 11.4598C8.86156 10.0538 11.4979 8.99931 11.3221 7.06602C11.1464 5.30849 7.27978 -1.01862 5.3465 0.738915C1.12843 4.60548 0.776923 6.18726 0.776923 9.35081C0.60117 14.7992 7.63129 21.6535 7.63129 21.6535C8.3343 22.3565 14.4857 28.6836 19.934 28.5079C23.0976 28.5079 24.6793 28.1564 28.5459 23.9383C30.3034 22.005 24.1521 18.1385 22.2188 17.9627Z" fill="black"/>
      </svg>
    </a>
    <a href="https://www.nanopro.com.br/gz/cart" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 28 27" fill="none">
        <path d="M13.9962 0.227051C15.7527 0.227051 17.4373 0.924815 18.6793 2.16684C19.9213 3.40887 20.6191 5.09342 20.6191 6.84992C20.6191 8.60641 19.9213 10.291 18.6793 11.533C17.4373 12.775 15.7527 13.4728 13.9962 13.4728C12.2397 13.4728 10.5552 12.775 9.31315 11.533C8.07112 10.291 7.37335 8.60641 7.37335 6.84992C7.37335 5.09342 8.07112 3.40887 9.31315 2.16684C10.5552 0.924815 12.2397 0.227051 13.9962 0.227051ZM13.9962 16.7842C21.3145 16.7842 27.242 19.7479 27.242 23.4071V26.7185H0.750488V23.4071C0.750488 19.7479 6.67795 16.7842 13.9962 16.7842Z" fill="black"/>
      </svg>
    </a>
    <a href="https://www.nanopro.com.br/gz/cart" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 27 27" fill="none">
        <path d="M2.00782 0.262695C1.71586 0.262695 1.43586 0.378676 1.22941 0.585123C1.02296 0.791569 0.906982 1.07157 0.906982 1.36353C0.906982 1.65549 1.02296 1.93549 1.22941 2.14194C1.43586 2.34839 1.71586 2.46437 2.00782 2.46437H2.54943C2.78847 2.46478 3.02087 2.54299 3.21153 2.68717C3.40219 2.83136 3.54073 3.03368 3.60623 3.26357L7.09808 15.4828C7.29558 16.1724 7.71222 16.7789 8.28501 17.2107C8.85779 17.6425 9.55559 17.8761 10.2729 17.8761H20.3323C20.9925 17.8762 21.6375 17.6784 22.1842 17.3084C22.7309 16.9383 23.1541 16.4128 23.3992 15.7999L26.6445 7.68453C26.7779 7.35059 26.8275 6.98906 26.7889 6.63154C26.7504 6.27401 26.6248 5.93138 26.4232 5.63358C26.2217 5.33579 25.9502 5.0919 25.6326 4.92323C25.315 4.75457 24.961 4.66626 24.6014 4.66604H6.29667L5.72204 2.65811C5.52504 1.96849 5.10891 1.36174 4.53653 0.929574C3.96415 0.497409 3.26664 0.263321 2.54943 0.262695H2.00782ZM10.8145 26.6827C11.2482 26.6827 11.6776 26.5973 12.0783 26.4314C12.479 26.2654 12.8431 26.0221 13.1497 25.7155C13.4564 25.4088 13.6997 25.0447 13.8656 24.6441C14.0316 24.2434 14.117 23.8139 14.117 23.3802C14.117 22.9465 14.0316 22.5171 13.8656 22.1164C13.6997 21.7157 13.4564 21.3517 13.1497 21.045C12.8431 20.7383 12.479 20.4951 12.0783 20.3291C11.6776 20.1632 11.2482 20.0777 10.8145 20.0777C9.93862 20.0777 9.09862 20.4257 8.47928 21.045C7.85994 21.6644 7.51199 22.5044 7.51199 23.3802C7.51199 24.2561 7.85994 25.0961 8.47928 25.7155C9.09862 26.3348 9.93862 26.6827 10.8145 26.6827ZM19.6212 26.6827C20.0549 26.6827 20.4843 26.5973 20.885 26.4314C21.2857 26.2654 21.6497 26.0221 21.9564 25.7155C22.2631 25.4088 22.5063 25.0447 22.6723 24.6441C22.8383 24.2434 22.9237 23.8139 22.9237 23.3802C22.9237 22.9465 22.8383 22.5171 22.6723 22.1164C22.5063 21.7157 22.2631 21.3517 21.9564 21.045C21.6497 20.7383 21.2857 20.4951 20.885 20.3291C20.4843 20.1632 20.0549 20.0777 19.6212 20.0777C18.7453 20.0777 17.9053 20.4257 17.286 21.045C16.6666 21.6644 16.3187 22.5044 16.3187 23.3802C16.3187 24.2561 16.6666 25.0961 17.286 25.7155C17.9053 26.3348 18.7453 26.6827 19.6212 26.6827Z" fill="black"/>
      </svg>
    </a>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" width="64" height="80" viewBox="0 0 128 123" fill="none">
    <g clip-path="url(#clip0_47_1089)">
      <path d="M89.7273 50.8061C86.5221 59.3807 81.1506 67.181 80.1473 76.5404C79.7449 80.2877 77.7022 83.7096 78.1908 87.6263C78.351 88.9084 78.8301 90.1303 79.8353 90.3726C80.4875 90.5288 81.7367 90.6692 82.6198 89.4368C92.6403 75.5054 107.858 67.6664 120.901 57.2921C131.193 49.1073 138.061 39.0628 140.221 26.162C142 15.5382 140.598 5.09984 135.917 -4.69638C130.644 -15.7287 123.057 -24.8003 112.166 -30.7107C95.7374 -39.6279 79.044 -41.1028 61.7672 -32.772C48.7096 -26.4736 39.3764 -16.4958 32.9767 -3.95948C27.6316 6.5114 28.5877 17.6618 32.8578 28.4429C35.8074 35.9138 39.1757 43.2183 42.1806 50.6668C46.1321 60.4683 47.4108 70.4422 43.4394 80.6048" stroke="white" stroke-opacity="0.3" stroke-width="1.35777" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M49.2186 114.829C52.4889 115.807 55.7316 116.845 59.0259 117.743C62.5341 118.705 65.8234 118.678 68.341 115.097C65.9856 110.768 61.2769 110.574 57.6403 109.36C54.0304 108.154 50.2335 107.087 46.4466 106.245C43.6816 105.623 41.8668 104.03 40.9779 101.354C42.3076 98.8562 44.4831 98.5933 46.7986 98.5765C52.9808 98.5499 58.8489 100.742 64.9778 101.089C67.2302 101.218 69.4967 101.235 71.749 101.17C73.3072 101.121 74.605 100.547 74.9114 98.7438C75.1999 97.0323 73.6254 96.5517 72.7387 96.2379C62.9382 92.782 53.1609 89.2164 42.9113 87.2296" stroke="white" stroke-opacity="0.3" stroke-width="1.35777" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M78.715 42.1773C72.7437 44.9393 66.6087 44.8731 60.6621 42.5212C54.3876 40.0324 52.534 34.415 55.5262 30.383C57.9049 27.1685 62.034 26.4113 64.5712 29.2886C67.014 32.0599 68.0805 35.3428 67.5081 39.3017C65.2122 55.2227 58.1602 69.1285 49.6753 82.4697" stroke="white" stroke-opacity="0.3" stroke-width="1.35777" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M92.6171 49.2508C98.8135 49.1119 103.458 45.399 108.193 42.1605C109.23 41.4504 110.435 39.177 109.282 37.287C108.265 35.6225 106.615 36.2369 105.168 36.5328C98.7412 37.7982 95.1846 42.6138 92.3241 47.7638C91.6049 49.0647 90.9266 50.0668 89.8478 50.2981C85.6787 51.1891 79.6408 46.3513 79.3291 41.8754C78.8621 35.322 81.834 30.0594 86.2006 25.5542C87.3929 24.3268 89.4702 23.6459 91.0978 25.085C93.2942 27.0247 92.2265 29.6207 91.0746 31.2975C88.2268 35.431 84.6678 39.0213 80.3242 41.6968" stroke="white" stroke-opacity="0.3" stroke-width="1.35777" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    <defs>
      <clipPath id="clip0_47_1089">
        <rect width="114.168" height="160.845" fill="white" transform="translate(46.0886 -53) rotate(16.651)"/>
      </clipPath>
    </defs>
  </svg>
</header>
<div class="frame-1-4-mobile">
  <form class="form-mobile" id="search-form-responsive" novalidate="">
    <input type="search" placeholder="O que você está precisando?"  id="search-input-responsive" required="" autocomplete="off"/>
    <button  type="submit" id="nav-search-button">
      <span class=" icon-search">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 38 38" fill="none">
          <path d="M24.5106 23.2233L23.5407 22.5468L23.1002 22.1221C24.6418 20.3288 25.5699 18.0007 25.5699 15.4681C25.5699 9.82077 20.9923 5.24316 15.345 5.24316C9.69773 5.24316 5.12012 9.82077 5.12012 15.4681C5.12012 21.1154 9.69773 25.693 15.345 25.693C17.8776 25.693 20.2058 24.7649 21.9991 23.2233L22.4238 23.6637L23.1002 24.6333L23.5407 25.2169L25.0941 23.6637L24.5106 23.2233ZM15.345 22.5468C11.4281 22.5468 8.26624 19.385 8.26624 15.4681C8.26624 11.5511 11.4281 8.38929 15.345 8.38929C19.2619 8.38929 22.4238 11.5511 22.4238 15.4681C22.4238 19.385 19.2619 22.5468 15.345 22.5468Z" fill="black"/>
          <path d="M31.1649 33.8305C31.8633 33.1704 32.5789 32.5324 33.2526 31.8462C33.9718 31.1167 34.3294 30.2066 33.3879 28.6427C31.648 28.2352 31.057 29.4816 30.2374 30.1849C29.4234 30.8827 28.6358 31.6657 27.9267 32.5011C27.4059 33.1089 26.6602 33.2196 25.648 32.812C24.9437 31.8382 25.0965 31.1766 25.3489 30.5364C26.029 28.8317 27.4313 27.7537 28.2327 26.1544C28.528 25.5672 28.7865 24.9488 29.0154 24.3142C29.1724 23.8743 29.1212 23.378 28.5399 22.8545C27.9881 22.3584 27.6485 22.6738 27.4426 22.841C25.1707 24.6914 22.864 26.5087 21.0434 28.8404" stroke="black" stroke-width="1.78869" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    </button>
  </form>
</div>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <button class="frame-bttn-mobile"  data-bs-dismiss="offcanvas" aria-label="Close">
      X
    </button>
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Categorias</h5>
  </div>
  <div class="offcanvas-body">

    <ul class="menu" aria-labelledby="dropdownMenuButton">
      <li> <a class="nav-link active" aria-current="page" href="https://www.nanopro.com.br/_Discount_5-100" target="_blank">mais vendidos</a></li>
      <li>  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-redondo" target="_blank">espelho redondo</a></li>
      <li>  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-organico" target="_blank">espelho orgânico</a></li>
      <li>  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-oval" target="_blank">espelho oval</a></li>
      <li>  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-com-led" target="_blank">espelho com led</a></li>
      <li>  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-base-reta" target="_blank">espelho base reta</a></li>
      <li>  <a class="nav-link" href="https://nanopro.mercadoshops.com.br/espelho-retangular" target="_blank">espelho retangular</a></li>
    </ul>
  </div>
</div>